# Cache Configuration
CACHE_ENABLED=false
CACHE_TTL_MS=7200000

# ScraperAPI Configuration
SCRAPERAPI_KEY=08d973cbf0af4a48f4f5dbb373475b9d
SCRAPERAPI_URL=https://api.scraperapi.com
SCRAPERAPI_DEVICE_TYPE=desktop
SCRAPERAPI_COUNTRY_CODE=br

# Local Development
IS_LOCAL=true

# Database
DATABASE_URL=mysql://user:password@localhost:3306/animefire

# Expo
EXPO_PORT=8082

# API URL para acesso local no mesmo computador
EXPO_PUBLIC_API_URL=http://localhost:3000

# Google Drive Configuration
GOOGLE_DRIVE_ENABLED=false
GOOGLE_DRIVE_CREDENTIALS_PATH=./credentials.json
GOOGLE_DRIVE_CACHE_FOLDER=animefire-cache
